# pandas (list to series)

In [5]:
import pandas as pd
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_series = pd.Series(my_dict)
print(my_series)

a    1
b    2
c    3
dtype: int64

# pandas(dictionary to series)|

In [7]:
import pandas as pd
my_list = [[1, 'Alice'], [2, 'Bob'], [3, 'Charlie']]
my_dataframe = pd.DataFrame(my_list, columns=['ID', 'Name'])
print(my_dataframe)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

# pandas(dictonary to dataframe)

In [9]:
import pandas as pd
my_dict = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
}
my_dataframe = pd.DataFrame(my_dict)
print(my_dataframe)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

In [ ]:
# pandas(list to dataframe)

In [11]:
import pandas as pd
my_list = [1, 2, 3, 4, 5]
my_series = pd.Series(my_list)
print(my_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64